@media (max-width: 500px) {
  /*nav-bar*/
  .nav-bar img {
    display: none;
  }
  .nav-bar-content {
    margin-top: 16px;
    display: block;
  }
  .nav-bar-item a {
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
  }
  /*target-info*/

  .target-info-content {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    row-gap: 50px;
  }
  /*Job-info*/

  .job-info-content {
    display: block;
  }
  /*certificate*/
  .certificate-content {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 0;
    font-size: 14px;
    font-weight: 250;
    column-gap: 0;
  }
  .certificate .certificate-content img {
    grid-column: 1/2;
    width: 100%;
    height: auto;
  }
  .certificate-item-2 {
    grid-row: 2/3;
  }
  .certificate-item-3 {
    grid-row: 3/4;
  }
  .certificate-item {
    display: block;
  }
  .certificate-text {
    margin-left: 40px;
  }
  .certificate-item {
    border: none;
    border-bottom: 1px solid #d6c08d;
  }
  /*Project*/
  .project {
    margin-bottom: 120px;
  }

  .project-content {
    display: grid;
    grid-template-columns: 1fr 0 0;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 0;
    row-gap: 40px;
  }
  .project-item-2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .project-item-3 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .project-container {
    display: grid;
    grid-template-columns: 25% 75%;
    margin-top: 20px;
    gap: 50px;
  }
  .project-content .project-item .project-img img {
    width: 100%;
    height: auto;
  }
  /*footer*/

  .footer-content {
    gap: 10px;
  }
  .footer-icon {
    font-size: 150%;
  }
}
